@page "/not-found"
@layout MainLayout

<PageTitle>Not Found</PageTitle>

<div class="page-stack">
    <EmptyState
        Title="That page does not exist"
        Description="The requested route is not part of SmartTaskManager.Web.">
        <Actions>
            <a class="button" href="/">Return to dashboard</a>
        </Actions>
    </EmptyState>
</div>
